html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;

  --background-light: white;
  --background-dark: #f7f7f7;
  --highlight: #ffa533;
  --carousel-icon: #d9d9d9;
  --font-secondary: #8c8c8c;
}

/* Sections General */

.container-fluid {
  padding: 7% 15% 5%;
  text-align: center;
}

.section-light {
  background-color: var(--background-light);
}

.section-dark {
  background-color: var(--background-dark);
}

.section-heading {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

@media (max-width: 1199px) {
  .container-fluid {
    padding: 10% 15% 7%;
  }

  .section-heading {
    font-size: 5rem;
    margin-bottom: 2rem;
  }
}

/* Navigation */

.nav-container {
  padding: 0 15%;
}

.navbar {
  padding-left: 0;
}

.navbar-brand {
  text-align: left;
  display: flex;
  align-items: center;
}

.navbar-brand-text:hover {
  color: var(--highlight);
  transition: color 0.2s;
}

.navbar-brand-logo {
  width: 100px;
}

.navbar-brand-text {
  text-align: center;
  display: inline-block;
  margin-left: 2.5rem;
}

.navbar-brand-title {
  font-size: 3.5rem;
  font-weight: bold;
}

.navbar-brand-subtitle {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
}

.nav-item {
  padding: 0 30px;
}

@media (max-width: 1400px) {
  .nav-item {
    padding: 0 12px;
  }
}

@media (max-width: 1199px) {
  .nav-container {
    padding: 0 7%;
  }

  .navbar-brand-logo {
    width: 15rem;
  }

  .navbar-brand-text {
    margin-left: 3rem;
  }

  .navbar-brand-title {
    font-size: 6rem;
  }

  .navbar-brand-subtitle {
    font-size: 2rem;
  }
}

/* Home */

.home-container {
  padding: 2% 15%;
}

.carousel-item {
  text-align: center;
  padding: 0 20% 2%;
}

.carousel-text {
  padding: 100px 0;
}

.carousel-title {
  text-align: left;
  font-size: 4rem;
  font-weight: 700;
}

.carousel-subtitle {
  text-align: left;
  font-size: 1.5rem;
  font-weight: 300;
}

.carousel-icon {
  color: var(--highlight);
}

.carousel-img {
  position: relative;
  padding: 0;
}

.carousel-img-background {
  width: 100%;
}

.carousel-img-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10% 35% 15%;
  font-size: 6rem;
  font-weight: bold;
}

@media (max-width: 1400px) {
  .carousel-title {
    font-size: 3rem;
  }

  .carousel-img-text {
    font-size: 4rem;
  }
}

@media (max-width: 1199px) {
  .carousel-text {
    padding: 2rem 0;
  }

  .carousel-title {
    text-align: center;
    font-size: 5rem;
    font-weight: 700;
  }

  .carousel-subtitle {
    text-align: center;
    font-size: 3rem;
    font-weight: 300;
  }

  .carousel-img-background {
    width: 50%;
  }
}

/* Services */

.service-row {
  padding: 2% 0;
}

.service {
  padding: 0 3%;
}

.service-icon {
  font-size: 5rem;
  margin-bottom: 2rem;
}

.service-icon:hover {
  color: var(--highlight);
  transition: color 0.2s;
}

.service-title {
  font-size: 3rem;
  font-weight: bolder;
  margin-bottom: 1.5rem;
}

@media (max-width: 1199px) {
  .service-row {
    padding: 2% 0;
  }

  .service {
    margin-bottom: 10rem;
  }

  .service-icon {
    font-size: 7rem;
    margin-bottom: 1rem;
  }

  .service-title {
    font-size: 5rem;
    margin-bottom: 3rem;
  }

  .service-desc {
    font-size: 2rem;
  }
}

/* Contact */

.contact-title {
  font-weight: bold;
}

.contact-subtitle {
  font-weight: 300;
}

.contact-phone-icon {
  margin-right: 10px;
}

.contact-phone-icon:hover {
  color: var(--highlight);
  transition: color 0.2s;
}

.contact-hr {
  width: 50%;
  margin: 50px auto;
}

.contact-img {
  width: 350px;
  border-radius: 20px;
}

@media (max-width: 1199px) {
  .contact-title {
    font-size: 3.5rem;
  }

  .contact-subtitle {
    font-size: 2rem;
  }

  .contact-img {
    margin-top: 2rem;
  }
}

/* Find Us */

.find-us-map {
  width: 600px;
  height: 450px;
  border: 0;
}

/* Footer */

.footer-list {

}

.footer-list-item {
  display: inline-block;
  padding: 0 5%;
}

.footer-list-item a:hover {
  cursor: pointer;
}

/* Cookies */

.cookie-consent {
  display: none;
  padding: 1rem 0;
  background-color: var(--background-light);
}

.cookie-consent-button {
  margin-left: 30px;
}

/* About */

.about {
  margin-top: 4rem;
}
